@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

@import "tailwindcss";

* {
  font-family: "Instrument Serif", serif;
}

@theme {
  --color-primary: #ef4444;
  --color-primary-dull: #dc2626;
  --color-rose: #f16a6a;
  --color-blush: #f38f8f;
  --color-peach: #f5b5b5;
  --color-cotton: #f7dada;
  --color-mist: #f9e5e5;
  --color-petal: #fbecec;
  --color-shell: #fdf5f5;
  --color-snow: #fef9f9;
  --color-ivory: #fffafa;
  --color-white-soft: #fffdfd;
}

:root {
  --color-primary: #ef4444;
  --color-primary-dull: #dc2626;
  --color-rose: #f16a6a;
  --color-blush: #f38f8f;
  --color-peach: #f5b5b5;
  --color-cotton: #f7dada;
  --color-mist: #f9e5e5;
  --color-petal: #fbecec;
  --color-shell: #fdf5f5;
  --color-snow: #fef9f9;
  --color-ivory: #fffafa;
  --color-white-soft: #fffdfd;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
