@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

@import "tailwindcss";

* {
  font-family: "Instrument Serif", serif;
}

@theme {
  --color-primary: #ef4444;
  --color-primary-dull: #dc2626;
  --color-peach: #f5b5b5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-progress {
  background: #ffffff !important;
  height: 4px !important;
  border-radius: 4px !important;
}
